/* Adapted by Farouk */

/* 
DESCRIPTION:
Hello,

I'm sharing a snippet that will make your workspace look more beautiful. This snippet is inspired by my other project "obsidian-homepage", it will allow you to have a background in your workspace and you can have fun choosing the backgrounds offered in the snippet and even add your own background.

You can switch between the three modes: Transparent, translucent and opaque and take the one you are most comfortable with. Feel free to send me a message if you have any problem with this snippet.

Thank you.
*/

/* @settings
name: Obsidian Background
id: background-settings
settings:
  - 
    id: background-settings-workplace
    title: Workspace Background Image
    type: heading
    level: 2
    collapsed: true
  - 
    id: background-settings-workplace-background-image
    title: Enable Workspace Background Image
    type: class-toggle
    default: false
  - 
    id: background-settings-workplace-theme-light
    title: Light Mode Background
    type: class-select
    allowEmpty: false
    default: background-settings-workplace-theme-light-tokyo
    options:
      - 
        label: Tokyo
        value: background-settings-workplace-theme-light-tokyo
      - 
        label: Mountain
        value: background-settings-workplace-mountain-light
      - 
        label: Custom  
        value: background-settings-workplace-theme-light-custom-option
  - 
    id: background-settings-workplace-theme-light-custom
    title: Custom Background Light Mode (url)
    description: Customize the background image. Use the default format below for an online image. Use the following format to point to a local file - url("app://local/D:/Pictures/Mountain.jpg").
    type: variable-text
    default: url("https://") 
  -
    id: background-settings-workplace-theme-dark
    title: Dark Mode Background
    type: class-select
    allowEmpty: false
    default: background-settings-workplace-theme-dark-tokyo
    options:
      - 
        label: Cosmic sky
        value: background-settings-workplace-theme-dark-cosmic-sky
      - 
        label: Dark mountain 
        value: background-settings-workplace-theme-dark-dark-mountain
      - 
        label: Tokyo
        value: background-settings-workplace-theme-dark-tokyo
      - 
        label: Deer
        value: background-settings-workplace-theme-dark-deer
      - 
        label: Space
        value: background-settings-workplace-theme-dark-space
      - 
        label: Custom
        value: background-settings-workplace-theme-dark-custom-option
  -
    id: background-settings-workplace-theme-dark-custom
    title: Custom Background Dark Mode (url)
    description: Customize the background image. Use the default format below for an online image. Use the following format to point to a local file - url("app://local/D:/Pictures/Mountain.jpg").
    type: variable-text
    default: url("https://")
  - 
    id: blur-depth
    title: Blur Radius
    description: To adjust the radius of blur
    type: variable-number-slider
    default: 0
    format: px
    min: 0
    max: 30
    step: 1
  - 
    id: brightness-4-bg
    title: Brightness of Image
    description: To adjust the brightness
    type: variable-number-slider
    default: 0.9
    min: 0.3
    max: 1.5
    step: 0.1
  - 
    id: saturate-4-bg
    title: Saturation of Image
    description: To adjust the saturation
    type: variable-number-slider
    default: 1
    min: 0
    max: 2
    step: 0.1
  -
    id: background-settings-markdown-page
    title: Note page Background Image
    type: heading
    level: 2
    collapsed: true
  - 
    id: background-image-settings-switch
    title: Display Background Image
    type: class-toggle
    default: false
  - 
    id: background-image-settings-markdown-page-options
    title: Background Image
    type: class-select
    allowEmpty: false
    default: background-image-settings-markdown-page-default
    options:
      - 
        label: Default
        value: background-image-settings-markdown-page-default
      - 
        label: Transparent
        value: background-image-settings-markdown-page-transparent
  -
    id: toggle-nonoverlapping-bg
    title: Enable non-overlapping Background
    type: class-toggle
    default: false
  - 
    id: background-settings-markdown-page
    title: File Explorer Background Image
    type: heading
    level: 2
    collapsed: true
  - 
    id: toggle-bg-panel-page
    title: Toggle Background Image
    type: class-toggle
    default: false
  -
    id: bg-panel-page-option
    title: Light Mode Background
    type: class-select
    allowEmpty: false
    default: panel-page-bg-theme-light-space
    options:
      - 
        label: Space
        value: panel-page-bg-theme-light-space
      - 
        label: Paradise
        value: panel-page-bg-theme-light-paradise
      - 
        label: Custom
        value: panel-page-bg-theme-light-custom
  -
    id: background-panel-page-theme-light-custom
    title: Custom Background Light mode
    description: Customize the background image. Use the default format below for an online image. Use the following format to point to a local file - url("app://local/D:/Pictures/Mountain.jpg").
    type: variable-text
    default: url("https://") 
  -
    id: bg-panel-page-option
    title: Dark Mode Background
    type: class-select
    allowEmpty: false
    default: panel-page-bg-theme-dark-paradise
    options:
      - 
        label: Paradise
        value: panel-page-bg-theme-dark-paradise
      - 
        label: Fun
        value: panel-page-bg-theme-dark-fun
      - 
        label: Painting
        value: panel-page-bg-theme-dark-painting
      - 
        label: Custom
        value: panel-page-bg-theme-dark-custom
  -
    id: background-panel-page-theme-dark-custom
    title: Custom Background Dark mode
    description: Customize the background image. Use the default format below for an online image. Use the following format to point to a local file - url("app://local/D:/Pictures/Mountain.jpg").
    type: variable-text
    default: url("https://") 
  - 
*/

/* 
==============================================================================
============================= STYLE SETTINGS =================================
==============================================================================
*/

/* Colors */

.theme-dark {
  
  --bg-color-settings-0: #07070747;
  --bg-color-settings-0-1: #ffffff00;
  --bg-color-settings-1: #7c7c7c6d;
  --bg-color-settings-2: #1f1f1f52;
  --bg-color-settings-3: #141414be;
  --bg-color-settings-4: #2e2e2e9d;
  --bg-color-settings-5: #424242aa;
  --bg-color-settings-6: #191919c7;

}

.theme-light {
  --bg-color-settings-0: #7d7d7d6b;
  --bg-color-settings-0-1: #ffffff77;
  --bg-color-settings-1: #ffffff17;
  --bg-color-settings-2: #ffffff5a;
  --bg-color-settings-3: #ffffffda;
  --bg-color-settings-4: #ffffffd2;
  --bg-color-settings-5: #d4d4d464;
  --bg-color-settings-6: #ffffff85;

}

body.all-dark .print.theme-light,
.theme-dark {
  --background-primary: var(--background-primary-bg-4-bt,#202020);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt,#444444);
  --background-secondary: var(--background-secondary-bg-4-bt,#151515);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt,#000000);
  --background-modifier-border: #565656;
  --background-modifier-success: #539126;
  --background-modifier-success-rgb: 83, 145, 38;
  --background-modifier-error: #9b4343;
  --background-modifier-error-rgb: 155, 67, 67;
  --background-modifier-box-shadow: rgba(228, 228, 228, 0.08);

/* Settings */

  --background-secondary-translucent: #2c2c2c26;
  --background-secondary-translucent-1: #2c2c2c26;

  --background-popover: var(--color-base-10);

  --background-waves-color:#4A75DB8C;

  --background-nonoverlapping-note: #000000;

  --background-titlebar-inner:   hsla(var(--accent-h), var(--accent-s), var(--accent-l),30%);
}

.theme-light {
  --background-primary: var(--background-primary-bg-4-bt,#ffffff);
  --background-primary-alt: var(--background-primary-alt-bg-4-bt,#e9e9e9);
  --background-secondary: var(--background-secondary-bg-4-bt,#fcfcfc);
  --background-secondary-alt: var(--background-secondary-alt-bg-4-bt,#f3f3f3);

  --background-modifier-border: #dddddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.08);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);

  --background-search-result: var(--background-secondary-bg-4-bt);
  --search-result-file-matched-bg: #ffc3c3;

  --page-border-bottom: var(--background-secondary-alt);
  --background-asymm-split-left: var(--background-secondary-alt);

  --background-mobile-drawer-1: #ffffff;
  --background-mobile-drawer-2: #ffffff;
  --background-modifier-border-hr: #bfbfbf;
  --background-modifier-border-asymm: #d8d8d8;
  --background-modifier-border-checkbox: #9c9c9c;
  --background-secondary-alt-bg-4-bt-publish: #f6f6f6;

  --background-transparent-black-or-white-1: #ffffffb0;
  --background-transparent-black-or-white-2: #ffffffca;
  --background-transparent-black-or-white-3: #eeeeee91;
  --background-transparent-black-or-white-4: #a7a7a765;
  --background-transparent-black-or-white-5: #f0f0f091;
  --background-black-or-white-1: #e4e4e4;
  --background-modifier-border-1: #e1dfdf;
  --background-transparent-blue: #c6e5ffde;
}

/* 
==============================================================================
================================ SEPARATORS ==================================
==============================================================================
*/

body.asymmetric-split-left .workspace-split.mod-horizontal.mod-left-split .workspace-leaf {
  background-color: var(--background-asymm-split-left);
}

body.asymmetric-split-left .workspace-ribbon.mod-left {
  border-right: 1px solid var(--background-modifier-border-asymm);
}

body.asymmetric-split-left .titlebar,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tabs{
  border-bottom: 1px solid var(--background-modifier-border-asymm);
}

body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header.is-before-active .workspace-tab-header-inner,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header.is-after-active .workspace-tab-header-inner,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header-inner,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header.is-after-active,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header.is-before-active,
body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-container-before.is-before-active .workspace-tab-header-inner {
  background-color: var(--background-asymm-split-left);
  border-radius: 0;
}

body.asymmetric-split-left .workspace-split.mod-left-split .workspace-tab-header-container {
  padding: 4px 0;
}

.workspace-split.mod-left-split>.workspace-leaf-resize-handle:hover,
.workspace-split.mod-right-split>.workspace-leaf-resize-handle:hover {
  background-color: hsla(var(--interactive-accent-hsl),0.5)
}

.is-translucent .workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.is-translucent .workspace-split.mod-right-split>.workspace-leaf-resize-handle {
  background-color: var(--background-modifier-border);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: var(--background-secondary-alt);
}

.workspace-tabs {
  background-color: var(--background-secondary);
  padding-right: 0;
}

.is-hidden-frameless.mod-windows .titlebar-button {
  background: var(--background-primary);
}


.workspace-tab-header-container {
  background: var(--background-secondary-alt);
}

.sidebar-toggle-button, 
body.background-settings-workplace-background-image:not(.is-frameless) .workspace-split.mod-root .workspace-tab-header-container,
body.background-settings-workplace-background-image:not(.is-frameless) .mod-root .workspace-tabs .workspace-leaf,
body.background-settings-workplace-background-image .workspace {
  background: transparent;
}

body.background-settings-workplace-background-image .workspace-ribbon.mod-left:before,
body.background-settings-workplace-background-image .workspace-tabs,
body.background-settings-workplace-background-image .workspace-tab-header-container {
  background: var(--background-secondary);
}


body.toggle-divider-lines {
  --divider-color: transparent;
  --tab-outline-color: transparent;
  --tab-divider-color: transparent;
}


body.toggle-divider-lines .workspace-ribbon.mod-left:before {
  border-bottom: var(--tab-outline-width) transparent;
}
body.toggle-divider-lines .workspace-tab-header-container{
  border-bottom: var(--tab-outline-width) transparent;
}

body.background-settings-workplace-background-image.theme-dark .workspace-ribbon.mod-left {
  background: var(--background-primary-alt);
}

body.background-settings-workplace-background-image .workspace-tab-header::before {
  clip-path: inset(50% 0 0 50%);
  left: calc(var(--tab-curve) * -1.97);
}
body.background-settings-workplace-background-image .workspace-tab-header::after {
  clip-path: inset(50% 50% 0 0);
  right: calc(var(--tab-curve) * -1.97);
}

body.background-settings-workplace-background-image .nav-folder.mod-root>.nav-folder-title {
  background-color: transparent;
}

body.background-settings-workplace-background-image {
  --tab-text-color-focused: var(--text-normal);
  --titlebar-text-color-focused: var(--text-noraml);
}

body.is-frameless.background-settings-workplace-background-image.theme-dark {
  --divider-color: #22222288;
}

/* *Without* 
body.is-frameless.background-settings-workplace-background-image .workspace-tab-header.is-active {
  box-shadow: none;
}

body.is-frameless.background-settings-workplace-background-image .workspace-split.mod-root,
body:not(.is-focused).is-frameless.background-settings-workplace-background-image .workspace-tabs.mod-top .workspace-tab-header-container,
body.is-frameless.background-settings-workplace-background-image .workspace-tabs.mod-top .workspace-tab-header-container,
body.is-frameless.background-settings-workplace-background-image .workspace-split.mod-root .workspace-tab-header-container {
  background-color: transparent !important;
} 
*/ 

body:not(.is-focused):not(.is-frameless) .workspace-split.mod-root .workspace-tab-header-container {
  background-color: transparent;
}

.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  background-color: var(--background-secondary);
}

.view-header {
  border-top: none;
  height: 33px;
  border-bottom: 1px solid var(--page-border-bottom);
}

.workspace-split.mod-root .view-content {
  background-color: var(--background-primary);
}

:is(.markdown-preview-view,.markdown-rendered),
.markdown-source-view {
  background-color: transparent;
}


body.view-button-front .popover .workspace-leaf-content:is([data-mode="preview"],[data-mode="source"]) .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: editing"]),
body.view-button-front .popover .workspace-leaf-content:is([data-mode="preview"],[data-mode="source"]) .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: editing"]) {
  left: 0;
  top: 6px;
}
body.view-button-front .popover .workspace-leaf-content[data-mode='preview'] .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: reading"]) ,
body.view-button-front .popover .workspace-leaf-content[data-mode='preview'] .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: reading"]) {
  left: 0;
  top: 6px;
}

body.is-mobile.view-button-front .workspace-leaf-content:is([data-mode="preview"],[data-mode="source"]) .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: editing"]) {
  left: 0;
  top: 6px;
}

body.view-button-front .workspace-leaf-content:is([data-mode="preview"],[data-mode="source"]) .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: editing"]) {
  opacity: 0.8;
  position: absolute;
  left: 10px;
  top: 3px;
}
body.is-mobile.view-button-front .workspace-leaf-content[data-mode='preview'] .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: reading"]) {
  left: 0;
  top: 6px;
}
body.view-button-front .workspace-leaf-content[data-mode='preview'] .view-header .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: reading"]) {
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 3px;
}
body.view-button-front .workspace-leaf-content[data-mode='preview'] .view-header:hover .view-actions>:is([aria-label^="The panel is in edit view"],[aria-label^="Current view: reading"]) {
  opacity: 1;
}


body.view-button-front .workspace-leaf-content[data-mode='source'] .view-content .markdown-source-view:not(.is-live-preview)::before {
  content: "";
  background-image:url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84.8 468.8H43.2C17.6 468.8 0 486.4 0 512s17.6 43.2 43.2 43.2h43.2C110.4 555.2 128 537.6 128 512s-17.6-43.2-43.2-43.2zM384 468.8h-43.2c-25.6 0-43.2 17.6-43.2 43.2s17.6 43.2 43.2 43.2H384c25.6 0 43.2-17.6 43.2-43.2s-17.6-43.2-43.2-43.2zM683.2 468.8H640c-25.6 0-43.2 17.6-43.2 43.2s17.6 43.2 43.2 43.2h43.2c25.6 0 43.2-17.6 43.2-43.2-1.6-25.6-17.6-43.2-43.2-43.2zM980.8 468.8h-43.2c-25.6 0-43.2 17.6-43.2 43.2s17.6 43.2 43.2 43.2h43.2c25.6 0 43.2-17.6 43.2-43.2s-17.6-43.2-43.2-43.2z' fill='%23666666'/%3E%3C/svg%3E");
  background-size: 14px 16px;
  background-repeat: no-repeat;
  height: 12px;
  width: 15px;
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 16px;
  opacity: 0.5;
  pointer-events: none;
}

body.hide-titlebar-close-btn.hide-left-ribbon-retention-drawer.view-button-front  .workspace-leaf-content[data-mode='source'] .view-content .markdown-source-view:not(.is-live-preview)::before 
{
  left: 32px;
}

body.view-button-front:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M114.18 936.37c-7.08-0.01-13.88-2.83-18.90-7.84-7.13-7.13-9.73-17.60-6.78-27.24 0.58-1.89 58.08-190.17 69.57-232.60 1.24-4.57 3.65-8.73 6.99-12.08 0 0 509.13-509.34 524.08-524.12 27.32-27.32 63.92-43.31 102.51-44.84 35.84 0.81 69.89 15.79 94.70 41.66 32.72 31.43 49.66 65.07 50.34 100.03 0.52 35.39-15.64 70.37-48.22 103.97C856.96 365.85 382.08 835.45 361.87 855.42c-3.13 3.09-6.97 5.37-11.19 6.62-31.98 9.53-226.32 72.36-228.29 72.99C119.75 935.90 116.98 936.35 114.18 936.37zM207.99 690.03c-10.01 35.62-39.82 125.58-56.68 181.06 55.85-17.99 146.82-49.51 177.65-59.01 50.76-50.21 491.57-486.20 521.11-516.63 22.12-22.85 33.24-44.76 32.85-65.12-0.40-19.87-11.67-40.69-33.65-61.74-14.94-16.13-35.63-25.74-57.60-26.73-24.42 1.73-47.44 12.11-64.90 29.28-14.10 13.90-465.93 465.95-518.84 518.88L207.99 690.03zM350.36 853.71c-13.57-0.06-24.98-10.20-26.63-23.68-6.27-30.87-21.46-59.22-43.70-81.52-22.46-24.48-52.04-41.30-84.56-48.09-14.71-1.90-25.17-15.27-23.48-30.01 1.53-14.70 14.70-25.39 29.40-23.85 0.01 0 0.03 0 0.05 0 88.93 17.85 158.30 87.60 175.66 176.62 1.91 14.80-8.50 28.34-23.28 30.29-1.16 0.15-2.33 0.22-3.51 0.22L350.36 853.71zM828.88 369.14c-13.58-0.05-24.99-10.20-26.62-23.68-14.30-64.29-64.20-114.68-128.34-129.60-14.70-1.94-25.13-15.30-23.45-30.03 1.51-14.67 14.63-25.35 29.31-23.85 0.03 0.01 0.06 0.01 0.10 0.01 44.72 8.07 85.64 30.37 116.68 63.57 30.72 30.78 51.32 70.19 59.05 112.99 2.02 14.73-8.28 28.31-23.02 30.33-1.25 0.18-2.52 0.26-3.80 0.26L828.88 369.14z' fill='%23666666'/%3E%3C/svg%3E");
  opacity:0.6;
}
 
body:not(.remove-custom-svg-icons) .workspace-leaf-content[data-type="markdown"] .view-header-icon:hover::before {
  content:"👆🏻";
  opacity: 0.6;
  margin-left: -12px;
}


body.folder-icons .nav-folder-children .nav-folder-title-content::before {
  position: relative;
  content: "";
  display: inline-block;
  opacity: 0.9;
  top: 3px;
  width: 0.95rem;
  height: 0.95rem;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--text-folder-file-icon);
  filter: hue-rotate(160deg);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');
}
body.folder-icons .nav-folder-children .nav-folder.is-collapsed .nav-folder-title-content::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.95rem;
  height: 0.95rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--text-folder-file-icon);
  filter: hue-rotate(160deg);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
}

body.folder-icons.remove-arrow:not(.default-icons) .nav-folder-collapse-indicator::after {
  display: none;
}
body.folder-icons.remove-arrow:not(.default-icons) :is(.nav-folder-title,.nav-file-title) {
  padding-left: 5px;
}
body:not(.remove-file-icons) [data-type="starred"] .nav-file-icon .svg-icon {
  padding: 4px 0 0;
}

body:not(.remove-file-icons) .workspace-leaf-content[data-type="starred"] .nav-file-title-content::before {
  display: none;
}
body:not(.remove-file-icons) .nav-file-title .nav-file-title-content::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.9rem;
  opacity: 0.9;
  top: 0.15rem;
  height: 0.9rem;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--text-folder-file-icon);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".pdf"] .nav-file-title-content::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path d="M12 16H8V8h4a4 4 0 1 1 0 8zm-2-6v4h2a2 2 0 1 0 0-4h-2zm5-6H5v16h14V8h-4V4zM3 2.992C3 2.444 3.447 2 3.999 2H16l5 5v13.993A1 1 0 0 1 20.007 22H3.993A1 1 0 0 1 3 21.008V2.992z"/></svg>');
  filter: hue-rotate(-45deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".pdf"] .nav-file-tag {
  background-color: var(--theme-color-translucent-01);
  color: var(--theme-color);
  filter: hue-rotate(-45deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".jpg"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".png"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".svg"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".gif"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".jpeg"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".bmp"] .nav-file-title-content::before { 
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M6 22h12a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2zm7-18 5 5h-5V4zm-4.5 7a1.5 1.5 0 1 1-.001 3.001A1.5 1.5 0 0 1 8.5 11zm.5 5 1.597 1.363L13 13l4 6H7l2-3z"></path></svg>');
  filter: hue-rotate(45deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".jpg"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".png"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".svg"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".gif"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".jpeg"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".bmp"] .nav-file-tag {
  background-color: var(--theme-color-translucent-01);
  color: var(--theme-color);
  filter: hue-rotate(45deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".mp4"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".webm"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".ogv"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".mov"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".mkv"] .nav-file-title-content::before { 
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path><polyline points="14 2 14 8 20 8"></polyline><path d="m10 11 5 3-5 3v-6Z"></path></svg>');
  filter: hue-rotate(90deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".mp4"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".webm"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".ogv"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".mov"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".mkv"] .nav-file-tag {
  background-color: var(--theme-color-translucent-01);
  color: var(--theme-color);
  filter: hue-rotate(90deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".mp3"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".wav"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".m4a"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".ogg"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".3gp"] .nav-file-title-content::before,
body:not(.remove-file-icons) .nav-file-title[data-path$=".flac"] .nav-file-title-content::before { 
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.5 22h.5c.5 0 1-.2 1.4-.6.4-.4.6-.9.6-1.4V7.5L14.5 2H6c-.5 0-1 .2-1.4.6C4.2 3 4 3.5 4 4v3"></path><polyline points="14 2 14 8 20 8"></polyline><path d="M10 20v-1a2 2 0 1 1 4 0v1a2 2 0 1 1-4 0Z"></path><path d="M6 20v-1a2 2 0 1 0-4 0v1a2 2 0 1 0 4 0Z"></path><path d="M2 19v-3a6 6 0 0 1 12 0v3"></path></svg>');
  filter: hue-rotate(-90deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".mp3"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".wav"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".m4a"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".ogg"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".3gp"] .nav-file-tag,
body:not(.remove-file-icons) .nav-file-title[data-path$=".flac"] .nav-file-tag {
  background-color: var(--theme-color-translucent-01);
  color: var(--theme-color);
  filter: hue-rotate(-90deg);
}

body:not(.remove-file-icons) .nav-file-title[data-path$=".excalidraw.md"] .nav-file-title-content::before { 
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.404 2.998c-.757-.754-2.077-.751-2.828.005l-1.784 1.791L11.586 7H7a.998.998 0 0 0-.939.658l-4 11c-.133.365-.042.774.232 1.049l2 2a.997.997 0 0 0 1.049.232l11-4A.998.998 0 0 0 17 17v-4.586l2.207-2.207v-.001h.001L21 8.409c.378-.378.586-.881.585-1.415 0-.535-.209-1.038-.588-1.415l-2.593-2.581zm-3.111 8.295A.996.996 0 0 0 15 12v4.3l-9.249 3.363 4.671-4.671c.026.001.052.008.078.008A1.5 1.5 0 1 0 9 13.5c0 .026.007.052.008.078l-4.671 4.671L7.7 9H12c.266 0 .52-.105.707-.293L14.5 6.914 17.086 9.5l-1.793 1.793zm3.206-3.208-2.586-2.586 1.079-1.084 2.593 2.581-1.086 1.089z"></path></svg>');
  /*
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-18 -10 35 39"><path d="M-7-4 0-9M0-9V-9L7-4-7 21-3 14-3 6 1 6-6 6-6 5-5 4 2 4-5 4-7-4ZM1-5C1-6-1-6-1-5-1-4 1-4 1-5ZM10-2-4 23 3 28 9 23 6 5M3 23V11" fill="none" stroke="currentcolor" stroke-width="2.5"></path></svg>');*/
  filter: hue-rotate(135deg);
}

body.dark-background-file:not(.remove-file-icons):not(.folder-style-change-options-colorful) .nav-file-title.is-active[data-path$=".md"]>.nav-file-title-content::before {
  background-color: var(--white);
}
body:not(.remove-file-icons) .nav-file-title.is-active[data-path$=".md"]>.nav-file-title-content::before {
  background-color: var(--text-folder-file-icon);
  opacity: 1;
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-edit-3 > path,
body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open > path {
  display: none;
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-edit-3,
body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open {
  background-color: currentColor;
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-action svg{
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-edit-3 {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>');
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z"></path><path d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"></path></svg>');
  background-color: var(--theme-color);
}

body.setting-default-frosted-glass [class="menu"] {
  border: none;
  backdrop-filter: blur(8px);
  background-color: var(--bg-color-settings-3);
  box-shadow: 0 0 8px var(--bg-color-settings-5);
}

.menu-item.selected:not(.is-disabled):not(.is-label),
.menu-item:hover:not(.is-disabled):not(.is-label) {
  background-color: var(--bg-color-settings-5);
}
body.toggle-bg-panel-page :is(.nav-files-container,.file-tree-plugin-view)::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center/cover var(--panel-page-background-url-theme);
  z-index: -1;
}

body.toggle-bg-panel-page.theme-dark :is(.nav-files-container,.file-tree-plugin-view)::before {
  opacity: 0.2;
}

body.toggle-bg-panel-page.theme-light :is(.nav-files-container,.file-tree-plugin-view)::before {
  opacity: 0.25;
}

body.toggle-bg-panel-page.panel-page-bg-theme-dark-fun.theme-dark {
  --panel-page-background-url-theme: url("https://wallpaperaccess.com/full/1296783.jpg");
}

body.toggle-bg-panel-page.panel-page-bg-theme-dark-paradise.theme-dark {
  --panel-page-background-url-theme: url("https://i.pinimg.com/originals/6e/18/f5/6e18f5dc078f675755b33801d8ff26e2.jpg");
}
body.toggle-bg-panel-page.panel-page-bg-theme-dark-painting.theme-dark {
  --panel-page-background-url-theme: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiD52BgUiinMbFkDrR8n30AO4agInX1aP7RCX2s1TlF44CUwq_lI0E7MeqRom4dUYgm4EnN7Ly-uQ9VowN_c0HKjorIvVJSmaE9IfeNGbcbZ9nrWNVp3NHqM2lFKb3nzjUUZ7fZeaVo59xfdWunzUgkfhchz61psotnxZMUH92YiPnPVoaW4L7WDNqurA/d/BRICK-WALL-BACKGROUND-1125X2436.jpg");
}

body.toggle-bg-panel-page.panel-page-bg-theme-dark-custom.theme-dark {
  --panel-page-background-url-theme: var(--background-panel-page-theme-dark-custom);
}

body.toggle-bg-panel-page.panel-page-bg-theme-light-space.theme-light {
  --panel-page-background-url-theme: url("https://i.pinimg.com/originals/52/e5/6f/52e56fb927b170294ccc035f02c6477d.jpg");
}
body.toggle-bg-panel-page.panel-page-bg-theme-light-paradise.theme-light {
  --panel-page-background-url-theme: url("https://www.enjpg.com/img/2020/summer-aesthetic-wallpaper-iphone-15.jpg");

}

body.toggle-bg-panel-page.panel-page-bg-theme-light-custom.theme-light {
  --panel-page-background-url-theme: var(--background-panel-page-theme-light-custom);
}


body.toggle-nonoverlapping-bg .workspace-split.mod-root .view-content {
  background: var(--background-nonoverlapping-note);
}

/* Note Page Background */

.workspace-leaf-content .floating-toc-div+.markdown-source-view .cm-editor {
  padding-left: 0;
}

body.toggle-split-note-background .workspace-split.mod-horizontal:is(.mod-left-split,.mod-right-split) .workspace-leaf-content .markdown-rendered,
body.toggle-split-note-background .workspace-split.mod-horizontall:is(.mod-left-split,.mod-right-split) .workspace-tab-container .workspace-leaf-content .cm-scroller,
body.toggle-split-note-background .workspace-split.mod-horizontall:is(.mod-left-split,.mod-right-split) .workspace-tab-container .workspace-leaf-content .markdown-reading-view {
  background: initial;
}

body.background-image-settings-switch.background-image-settings-markdown-page-transparent .workspace-split.mod-root {
  --background-primary: transparent;
 
  --tab-outline-color:transparent;
}

body.background-image-settings-switch.background-image-settings-markdown-page-transparent.theme-dark .workspace-split.mod-root .workspace-tab-header.is-active
{

  background-color: transparent;
}
body.background-image-settings-switch.background-image-settings-markdown-page-transparent .mod-root .workspace-tabs .workspace-leaf {
  background-color: unset;
}

/* blockquote-style-outline */
body.blockquote-style-outline :is(.markdown-preview-view,.markdown-rendered) blockquote {
  border: 3px solid var(--theme-color-translucent-04);
  background-color: transparent;
  border-radius: var(--radius-m);
}

/* blockquote-style-border */
body.blockquote-style-border-left :is(.markdown-preview-view,.markdown-rendered) blockquote {
  border-left: 3px solid var(--theme-color-translucent-04);
  background-color: transparent;
  border-radius: 0;
}

body.background-settings-workplace-background-image .titlebar {
  z-index: 1;
}

body.background-settings-workplace-background-image.theme-light .titlebar-text,
body.background-settings-workplace-background-image.theme-dark .titlebar-text {
  color: var(--text-normal);
}

body.background-settings-workplace-background-image:not(.simple-titlebar):not(.is-frameless) .titlebar::before {
  background-image: var(--theme-background);
  background-size: cover;
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  filter: blur(var(--titlebar-blur-depth)) brightness(var(--titlebar-brightness)) opacity(0.5);
  right: -15px;
  bottom: 0px;
  left: -15px;
}  
body.background-settings-workplace-background-image:not(.simple-titlebar):not(.is-frameless).theme-dark .titlebar::before {
  filter: blur(var(--titlebar-blur-depth)) brightness(calc(var(--titlebar-brightness) - 0.5)) opacity(0.5);
}

body.background-settings-workplace-background-image:not(.simple-titlebar):not(.is-hidden-frameless) .titlebar {
  --custom-titlebar-bg: var(--background-primary);
  background-color: var(--custom-titlebar-bg);
  border: none;
}

/* 
==============================================================================
========================= BACKGROUNDS SETTINGS ===============================
==============================================================================
*/

body.background-settings-workplace-background-image .side-dock-ribbon-tab,
body.background-settings-workplace-background-image .side-dock-ribbon-action:not(:hover),
body.background-settings-workplace-style-high-transparency .side-dock-ribbon-tab,
body.background-settings-workplace-style-high-transparency .side-dock-ribbon-action:not(:hover) {
  color: var(--text-normal);
}

body.is-mobile.background-settings-workplace-background-image .workspace-split.mod-root {
  background-color: transparent;
}

body.background-settings-workplace-background-image.theme-light .workspace::before,
body.background-settings-workplace-background-image.theme-dark .workspace::before {
  background-image: var(--theme-background);
  background-size: cover;
  filter: blur(var(--blur-depth)) brightness(var(--brightness-4-bg)) saturate(var(--saturate-4-bg));
}

body.background-settings-workplace-background-image.theme-light .workspace-split.mod-root:fullscreen::before,
body.background-settings-workplace-background-image.theme-dark .workspace-split.mod-root:fullscreen::before {
  background-image: var(--theme-background);
  background-size: cover;
  filter: blur(var(--blur-depth)) brightness(var(--brightness-4-bg)) saturate(var(--saturate-4-bg));
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  right: -15px;
  bottom: 0px;
  left: -15px;
}

.workspace-split.mod-root:fullscreen .modal-container .prompt {
  width: 90%;
}

body.background-settings-workplace-background-image .workspace::before {
  content: '';
  display: block;
  position: absolute;
  top: -37px;
  right: -15px;
  bottom: 0;
  left: -15px;
}

/*
body.background-settings-workplace-background-image.theme-light .workspace-leaf .view-header {
  background: #f7f7f7;
}

body.background-settings-workplace-background-image.theme-light .workspace-split.mod-root .workspace-tab-header.is-active.mod-active {
  --tab-background-active: #f7f7f7;
}
*/
body.background-settings-workplace-background-image.theme-light {
  --background-primary:var(--background-primary-bg-4-bt);
  --background-primary-bg-4-bt: #ffffff80;
  --background-primary-alt-bg-4-bt: #ffffffbe;
  --background-secondary-bg-4-bt: #ffffff80;
  --background-secondary-alt-bg-4-bt: #ffffff20;
  --text-muted: #525252;
  --text-folder-file: #292929;
  --background-modifier-border: #bfbfbf;
  --page-border-bottom: var(--color-base-30);
  --tab-outline-color: #dededee0;
  --divider-color: #dededee0;
}

textarea, input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number']
{
  background: var(--bg-color-settings-4);
}

body:is(.background-settings-workplace-background-image,.background-image-settings-switch) .modal-container {
  --modal-background:var(--bg-color-settings-3);
  --background-primary: var(--bg-color-settings-3);
  --background-secondary:var(--bg-color-settings-3);
}

/* 
==============================================================================
========================= BACKGROUNDS URL LINKS ==============================
==============================================================================
*/

body.background-settings-workplace-background-image.background-settings-workplace-mountain-light {
  --mountain: url('https://4kwallpapers.com/images/wallpapers/mount-fuji-volcano-japan-river-reflection-boat-couple-5k-2560x1440-5440.jpg');
  --theme-background: var(--mountain);
}

body.background-settings-workplace-background-image :is(.tree-item-inner,.tree-item-flair,.workspace-ribbon-collapse-btn,.side-dock-ribbon-tab,.side-dock-ribbon-action):not(:hover) {
  color: var(--text-normal);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-light-tokyo.theme-light {
  --tokyo: url('https://wallpaper.dog/large/5567706.jpg');
  --theme-background: var(--tokyo);
}


body.background-settings-workplace-background-image.theme-dark {
  --background-primary-bg-4-bt: #1414148a;
  --background-secondary-bg-4-bt: #16161680;
  --background-secondary-alt-bg-4-bt: #16161680;
  --background-primary-alt-bg-4-bt: #1c1c1ccf;
  --text-normal: #cccccc;
  --page-border-bottom: var(--color-base-30);
}


body.background-settings-workplace-background-image.theme-dark.is-mobile  {
  --background-primary-bg-4-bt: #1f1f1fbf;
  --background-secondary-bg-4-bt: #00000069;
  --background-secondary-alt-bg-4-bt: #16161680;
  --background-primary-alt-bg-4-bt: #00000082;
  --text-normal: #d4d4d4;
  --page-border-bottom: var(--color-base-30);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-cosmic-sky.theme-dark {
  --cosmic-sky: url("https://i.pinimg.com/originals/d3/d4/eb/d3d4eba1db502037614888a1baf1c39b.jpg");
  --theme-background: var(--cosmic-sky);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-dark-mountain.theme-dark {
  --dark-mountain: url("https://wallpaperaccess.com/full/398858.jpg");
  --theme-background: var(--dark-mountain);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-tokyo.theme-dark {
  --tokyo: url("https://www.pixel4k.com/wp-content/uploads/2018/09/tokyo-tower-4k_1538072109.jpg");
  --theme-background: var(--tokyo);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-deer.theme-dark {
  background-image: url("https://wallpaper.dog/large/5511527.jpg") !important;
  background-size: cover;
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-space.theme-dark {
  background-image: url("https://images.hdqwalls.com/wallpapers/moon-fox-galaxy-4k-79.jpg") !important;
  background-size: cover;
}


body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-container-before.is-before-active .workspace-tab-header-inner, 
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-container-after.is-after-active .workspace-tab-header-inner, 
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-header.is-before-active .workspace-tab-header-inner, 
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-header.is-after-active .workspace-tab-header-inner,
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-container-before.is-before-active, 
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-container-after.is-after-active,
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-header.is-before-active, 
body.layout-style-options-default.background-settings-workplace-background-image .workspace-tab-header.is-after-active {
  background-color: transparent;
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-light-custom-option.theme-light {
  --theme-background: var(--background-settings-workplace-theme-light-custom);
}

body.background-settings-workplace-background-image.background-settings-workplace-theme-dark-custom-option.theme-dark {
  --theme-background: var(--background-settings-workplace-theme-dark-custom);
}

body.background-settings-workplace-background-image.background-settings-markdown-page-custom-option.theme-dark {
  --theme-background: var(--background-settings-markdown-page-custom);
}


body.hide-left-ribbon-retention-drawer:not(.background-settings-workplace-background-image) .workspace-tabs.mod-top {
  background: var(--background-secondary-alt);
}
body.stack-tab-text-ori-mixed .workspace-tab-header-inner-title {
  text-orientation: mixed;
} 

/* 
==============================================================================
========================= BACKGROUNDS STYLE 2 ================================
==============================================================================
*/


*/body.background-settings-workplace-background-image.workspace > .workspace-leaf {
  background-color: transparent;
}
body.workspace > .workspace-split {
  background-color: var(--background-secondary-alt);
}
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-tab-container-before.is-before-active, 
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-tab-container-after.is-after-active, 
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-tab-header.is-before-active,
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-tab-header.is-after-active,
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-split.mod-left-split .workspace-tabs .workspace-leaf,
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-tab-header-container,
body.background-settings-workplace-background-image:not(.is-mobile) .workspace-leaf-resize-handle,
body.background-settings-workplace-background-image .workspace-split.mod-horizontal:is(.mod-left-split,.mod-right-split) .workspace-tab-header.is-active {
  background-color: transparent;
}

body.theme-dark .workspace-split.mod-root .workspace-tab-header.is-active.mod-active {
  background-color: var(--background-secondary);
}
 

body.background-settings-workplace-background-image .workspace-split.mod-root .workspace-tab-header.is-active::before, 
body.background-settings-workplace-background-image .workspace-split.mod-root .workspace-tab-header.is-active::after {
  box-shadow: inset 0 0 0 var(--tab-outline-width) transparent, 0 0 0 calc(var(--tab-curve) * 4) var(--background-secondary);
}

body.background-settings-workplace-background-image .mod-root .workspace-tab-header-container-inner {
  padding-bottom: 1.5px;
}

body.theme-dark:not(.background-settings-workplace-background-image) .workspace-split.mod-horizontal:is(.mod-left-split,.mod-right-split) .workspace-tabs .workspace-leaf-resize-handle {
  --divider-color: var(--background-primary);
}
.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  background-color:transparent;
}

body.background-settings-workplace-background-image.theme-light.is-frameless:is(.is-mobile,.is-tablet).mod-windows::after {
  --background-mobile-padding-top: #f9f9f9;
}
body.background-settings-workplace-background-image.theme-dark.is-frameless:is(.is-mobile,.is-tablet).mod-windows::after {
  --background-mobile-padding-top: #000000;
}

.workspace-tab-header.mod-active .workspace-tab-header-inner-title {
  font-weight: bold;
}

 .theme-dark .mod-root .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

.workspace-tab-header-inner-icon img
{
  margin:auto;
}

