/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────── S H I B A  U N I  C A R D S  L A Y O U T ────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/

/* @settings
name: Layout Style
id: shib-layout-header
settings:
- 
    id: shib-layout-select
    title: Layout Style
    type: class-select
    allowEmpty: false
    default: shib-default-layout
    options:
        -
            label: Default
            value: shib-default-layout
        -
            label: Cards
            value: shib-card-layout
- 
    id: shib-disable-borders
    title: Disable borders
    type: class-toggle
-
    id: tab-outline-color
    title: Custom borders Color
    type: variable-themed-color
    opacity: true
    format: hex
    default-light: '#'
    default-dark: '#'
- 
    id: shib-card-radius
    title: Card radius
    description: Size unit is px
    type: variable-number
    default: 16
    format: px
- 
    id: shib-card-layout-padding
    title: Card padding
    description: Size unit is px
    type: variable-number
    default: 10
    format: px
- 
    id: shib-card-header-left-padding
    title: Tab left padding
    description: Size unit is px
    type: variable-number
    default: 20
    format: px
- 
    id: shib-card-shadows
    title: Enable shadows for cards
    type: class-toggle
- 
    id: shib-card-layout-actions
    title: Enable card format for left ribbon
    type: class-toggle
- 
    id: shib-card-layout-fileexplorer
    title: Enable card format for file explorer
    default: true
    type: class-toggle
*/


.horizontal-main-container,
.shib-card-layout .mod-left-split,
.shib-card-layout .mod-left-split .workspace-tabs .workspace-leaf,
.shib-card-layout .mod-right-split .workspace-tabs .workspace-leaf,
.shib-card-layout .mod-root .workspace-tabs .workspace-leaf,
.shib-card-layout .mod-vertical,
.shib-card-layout .mod-vertical .workspace-tab-container,
.shib-card-layout .mod-vertical .workspace-tabs,
.shib-card-layout .workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
.shib-card-layout .workspace-split.mod-vertical,
.workspace {
	background-color: var(--tab-container-background)
}

.workspace-split:not(.mod-root) .graph-controls,
.workspace-split:not(.mod-root) .graph-controls.is-close,
.workspace-split:not(.mod-root) .graph-controls:not(.is-close) {
	background-color: rgb(var(--exterior))
}

.shib-card-layout .workspace-split:not(.mod-root) .graph-controls,
.shib-card-layout .workspace-split:not(.mod-root) .graph-controls.is-close,
.shib-card-layout .workspace-split:not(.mod-root) .graph-controls:not(.is-close),
.workspace-leaf .graph-controls,
.workspace-leaf .graph-controls.is-close,
.workspace-leaf .graph-controls:not(.is-close) {
	background-color: rgb(var(--side))
}

body {
	--card-background-color: rgb(var(--exterior));
	--card-foreground-color: var(--background-primary)
}

.shib-card-layout .sidebar-toggle-button,
.shib-card-layout .workspace-tabs.mod-top,
body.shib-card-layout {
	--tab-container-background: var(--card-background-color);
	--file-header-border: var(--border-width) dotted var(--background-modifier-border)
}

body.is-focused.shib-card-layout,
body.is-focused.shib-card-layout .sidebar-toggle-button,
body.is-focused.shib-card-layout .workspace-tabs.mod-top {
	--tab-container-background: var(--card-background-color)
}

.shib-card-layout .mod-left-split .workspace-tab-header-container,
.shib-card-layout .workspace-tab-header-container {
	border-bottom: none
}

.shib-card-layout .workspace-ribbon.mod-left {
	padding: 0;
	background-color: var(--tab-container-background);
	border: none
}

.shib-card-layout-actions.shib-card-layout .workspace-ribbon.mod-left {
	margin-right: var(--shib-card-layout-padding, 10px)
}

.shib-card-layout .workspace-ribbon.mod-left:before {
	border-bottom: none;
	background-color: var(--tab-container-background) !important
}

.shib-card-layout .side-dock-actions,
.shib-card-layout .side-dock-settings {
	padding: var(--ribbon-padding)
}

.shib-card-layout-actions.shib-card-layout .side-dock-actions {
	border-radius: 0 var(--shib-card-radius, var(--radius-xl)) var(--shib-card-radius, var(--radius-xl)) 0;
	border: 1px solid var(--tab-outline-color);
	background-color: var(--card-foreground-color);
	margin-top: 2px
}

.shib-card-layout-actions.shib-card-layout .side-dock-settings {
	border-radius: 0 var(--shib-card-radius, var(--radius-xl)) 0 0;
	border: 1px solid var(--tab-outline-color);
	background-color: var(--card-foreground-color)
}

.shib-card-layout .workspace-ribbon.mod-left {
	margin-top: calc(var(--header-height) - 1px) !important
}

.shib-card-layout .mod-vertical .workspace-tab-header-container {
	padding-left: var(--shib-card-header-left-padding, 20px)
}

.shib-card-layout .mod-vertical .workspace-tab-header-container-inner {
	margin: 6px -5px calc(var(--tab-outline-width) * -1);
	z-index: 1
}

.shib-card-layout .mod-vertical .workspace-tabs {
	padding-left: var(--shib-card-layout-padding, 10px);
	padding-right: var(--shib-card-layout-padding, 10px)
}

.shib-card-layout .mod-left-split .workspace-tab-container,
.shib-card-layout .mod-right-split .workspace-tab-container {
	padding-left: var(--shib-card-layout-padding, 10px);
	padding-right: var(--shib-card-layout-padding, 10px);
	background-color: var(--tab-container-background)
}

.shib-card-layout .workspace-split.mod-horizontal>*>.workspace-leaf-resize-handle,
.shib-card-layout .workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.shib-card-layout .workspace-split.mod-right-split>.workspace-leaf-resize-handle {
	border: 2px solid transparent
}

.shib-card-layout .workspace-split .workspace-leaf-content {
	border-radius: var(--shib-card-radius, var(--radius-xl));
	background-color: var(--card-foreground-color);
	border: 1px solid var(--tab-outline-color);
	margin-bottom: var(--shib-card-layout-padding, 10px)
}

.shib-card-layout.shib-card-shadows .side-dock-actions,
.shib-card-layout.shib-card-shadows .workspace-split .workspace-leaf-content,
.shib-card-layout.shib-card-shadows.shib-card-layout-fileexplorer .workspace-split .workspace-leaf-content[data-type=file-explorer] {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .05)
}

.shib-card-layout .workspace-split .workspace-leaf-content[data-type=file-explorer] {
	background-color: var(--tab-container-background);
	box-shadow: none;
	border-width: 0
}

.shib-card-layout.shib-card-layout-fileexplorer .workspace-split .workspace-leaf-content[data-type=file-explorer] {
	background-color: var(--card-foreground-color);
	border-width: 1px
}

.shib-card-layout .workspace-split .mod-stacked .workspace-leaf-content {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	border-left: none
}

.shib-card-layout .workspace-split.mod-horizontal>* {
	width: unset
}

.shib-card-layout .mod-stacked .workspace-tab-header {
	border-style: solid;
	border-radius: var(--shib-card-radius, var(--radius-xl)) 0 0 var(--shib-card-radius, var(--radius-xl)) !important;
	border-width: var(--tab-outline-width);
	border-color: var(--tab-outline-color);
	border-right: var(--tab-outline-width) dashed var(--tab-outline-color)
}

.shib-card-layout .mod-stacked .workspace-leaf {
	border-left-width: 0;
	border-top-width: var(--tab-outline-width);
	border-bottom-width: var(--tab-outline-width);
	border-style: solid;
	border-color: var(--tab-outline-color);
	border-radius: 0 var(--shib-card-radius, var(--radius-xl)) var(--shib-card-radius, var(--radius-xl)) 0
}

.shib-card-layout .mod-stacked .workspace-tab-container {
	padding-bottom: var(--shib-card-layout-padding, 10px)
}

.shib-card-layout .mod-top .workspace-leaf-resize-handle {
	border-color: transparent
}

body.shib-disable-borders,
body.shib-disable-borders.shib-workspace-background-image-toggle {
	--divider-color: transparent
}

.shib-card-layout .workspace-drop-overlay:before {
	width: calc(100% - 6px - var(--shib-card-layout-padding, 0) * 2);
	height: calc(100% - 6px - var(--shib-card-layout-padding, 0) * 2);
	margin: auto
}

.shib-card-layout .workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-leaf {
	background-color: var(--background-primary)
}